/* Main page formatting */
.app {
  text-align: center;
}

.app-header {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(10px + 2vmin);
  color: black;
}

.body {
  font-size:110%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

.button {
  border-radius: 8px;
  margin: .5em;
}

/* Card formatting */
.bookImage {
  padding: 1em;
}

.bookCard {
  margin: .5em;
  width: 350px;
  height: 300px;
  display: flex;
  background-color: #3EB6C5;
  border-radius: 12px;
}

.bookInfo {
  margin: .5em 0 0 0;
  padding: 0 .3em;
  flex-wrap: nowrap;
  text-align: left;
}

.bookResults {
  padding: 0 0 0 .5em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.authors {
  padding: .25em 0 .25em 0;
  font-style: italic;
}

.title {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.5em;
}

.publisher {
  padding: .25em 0 .25em 0;
}