.app {
  text-align: center;
}

.app-header {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(10px + 2vmin);
  color: black;
}

.bookImage {
  
}

.bookResults {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

.Button {

}